/TabsUpForum/node_modules
/TabsUpForum/public/hot
/TabsUpForum/public/storage
/TabsUpForum/storage/*.key
/TabsUpForum/vendor
/TabsUpForum/.env
/TabsUpForum/.env.backup
/TabsUpForum/.phpunit.result.cache
/TabsUpForum/docker-compose.override.yml
/TabsUpForum/Homestead.json
/TabsUpForum/Homestead.yaml
/TabsUpForum/npm-debug.log
/TabsUpForum/yarn-error.log
/TabsUpForum//.idea
/TabsUpForum//.vscode
